
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'EB Garamond', serif;
}

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
    z-index: 10;
}

header .logo {
    position: relative;
    text-decoration: none;
    font-weight: 600;
}
header .menu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;
}
header .menu li{
    list-style: none;
    margin: 0 10px;
}

header .menu li a{
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
}

header .menu li a:hover{
    color: slategrey;
}

header .menu li:hover{
    background: lightblue;
    padding: 0 15px;
}
header .search {
    position: relative;
    width: 300px;
    height: 40px;
}

header .search input {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border-radius: 5px;
    padding: 0 10px 0 20px;
}



.start {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    transition: 1s;
}

.Hlogo1{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;

}

.Hlogo{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
    font-size: 6vw;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.Hlogo.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.Hlogo.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

.form small {
    color: white;
    font-size: large;
}



input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
}


